# Auto detect text files and perform LF normalization
# * text=auto

*.v linguist-detectable=true
*.py linguist-detectable=false
source_code/* linguist-language=Verilog

# *.v linguist-language=Verilog
# *.sv linguist-language=Verilog

# compiler-assembler/python/* linguist-vendored

# compiler-assembler/legacy/* linguist-vendored=false

# *.md linguist-documentation
# docs/* linguist-documentation
