# Auto detect text files and perform LF normalization
# * text=auto
*.v linguist-language=Verilog
# *.sv linguist-language=SystemVerilog
*.py linguist-language=Python
# *.pl linguist-language=Perl
# *.l linguist-language=Lex
# *.y linguist-language=Yacc

